:root{
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --blue: rgb(79, 167, 202);
}




.textW{
    color: var(--white);
}

.d-flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}

.justify-evenly{
    justify-content: space-evenly;
}

.align-center{
    align-items: center;
}

.mt{
    margin-top: 18px;
}

.ml{
    margin-left: 18px;
}

.mr{
    margin-right: 18px;
}

.mb{
    margin-bottom: 18px;
}

.pt{
    padding-top: 18px;
}

.pl{
    padding-left: 18px;
}

.pr{
    padding-right: 18px;
}

.pb{
    padding-bottom: 18px;
}

.align-center{
    align-items: center;
}

body{
    font-family: 'Cormorant Garamond', serif;
    background: var(--black);
    padding: 0;
    margin: 0;
}

.logo{
    height: 100px;
    width: 100px;
}

.header-custom{
    height: 25vh;
}

.h1-custom{
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    font-size: 65px;
}

hr {
    border: none;
    border-top: 5px double var(--white);
    color: var(--white);
    overflow: visible;
    text-align: center;
    height: 5px;
  }
  
  hr:after {
    background: var(--black);
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
  }

.product-list{
    height: 30vh;
}

.h2-custom{
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    font-size: 40px;
}

.ul-custom{
    height: 30px;
}

.li-custom{
    color:var(--white);
    font-size: 24px;
    list-style: none;
    word-spacing: 2em;
}

.allergies{
    height: 30vh;
    font-family: 'Cormorant Garamond', serif;
    font-weight: normal;
    font-size: 18px;
}

.div-footer{
    height: 40vh;
}